body{
    background-image: url("https://wallpaperaccess.com/full/1087580.jpg");
    background-attachment: fixed;
}
h1{
    color: red;
    text-align: center;
    font-style: italic;
    border: 2px solid black;
    background-color: white;
}
p{
    font-weight: bolder;
}
.m{
    border: 2px solid black;
    background-color:gray;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10%;
}
.merch{
    display: flex;
    justify-content: space-between;
}
.merch2{
    display: flex;
    justify-content: space-between;
}
button{
    color: black;
    background-color: red;
    cursor: pointer;
}
button:hover{
    background-color: steelblue;
}
.m{
    padding: 50px;
}
.m:hover{
    background-color: tan;
}
img{
    border-radius: 10%;
}
